:root{
    --ROXO-ESCURO: #3A2073;
    --LARANJA-CLARO: #F27507;
    --LARANJA-ESCURO: #F25D07;
    --BEGE: #BF634E;
    --ROXO-CLARO: #56226b;
    --AZUL-PRO-CRIANCA-CLARO: #02BBF7; 
    --AZUL-PRO-CRIANCA-ESCURO: #0275ED;
}

 /* #3A2073 ROXO ESCURO
    #F27507 LARANJA CLARO
    #F25D07 LARANJA ESCURO
    #BF634E BEGE
    #481E59 ROXO CLARO
    #02BBF7 AZUL PRO CRIANÇA CLARO
    #0275ED AZUL RPO CRIANÇA ESCURO
    
 */